<div class="max-w-3xl mx-auto py-8">
    <div class="space-y-3">
        <h1 class="text-3xl font-bold text-slate-800">New Blog Post</h1>
        <%= render partial: "form", locals: {blog_post: @blog_post} %>
    </div>
</div>